/* settaggi generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* header */
/* Sett contenitore header */
.container-header{
    background-color: rgb(163,211,226);
    padding: 10px;
}
.row-header{
    display: flex;
    justify-content:center;
}
.col-header{
    text-align: center;
    flex-basis: calc(70%/3);
    background-color: rgb(213,155,29);
    border: 2px dotted black;
}


/* main */
/* contenitore 1 */
.container-main{
    padding: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxFucsia{
    background-color: rgb(236,119,235);
    border: 2px dotted black;
    border-radius: 2px;
    min-height: 200px;
    min-width: 500px;
}

/* contenitori 2/3/4 */
.container-main > .row{
    min-height: 270px;
    min-width: 700px;
    background-color: antiquewhite;
    display: flex;
    border: 2px dotted black;
}
.boxBlue{
    background-color: rgb(25,133,255);
    flex-grow: 2;
}
.boxRosa{
    background-color: rgb(255,184,196);
    flex-grow: 1.5;
}

/* background color contenitorer 1/3/5 */
.container-main:nth-child(1){
    background-color: rgb(0,1,128);
}
.container-main:nth-child(3){
    background-color: rgb(205,205,205);
}
.container-main:nth-child(5){
    background-color: rgb(205,205,205);
}

/* contenitore 6 */
.boxGreen{
    min-height: 450px;
    min-width: 700px;
    background-color: rgb(31,128,31);
    border: 2px dotted black;
}

/* footer */
.container-footer{
    background-color: black;
    padding: 10px;
}
.row-footer{
    min-height: 270px;
    display: flex;
}
.container-footer .row>.col{
    flex-grow: ;
    border: 2px dotted black;
}
footer .col{
    background-color: rgb(31,128,31);
    border: 2px dotted white;
    flex-basis: 320px;
}


/* contenitore 2 */
.container2{
    background-color: black;
    padding: 10px;
} 
footer .row{
    background-color: rgb(115,255,206);
}
.container2>.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .col-button{
    padding: 10px;
    text-align: center;
    background-color: rgb(255,173,185);
    border: 2px dotted black;
}
